<p style="color: green"><%= notice %></p>

<%= render @autor %>

<div style="border: 2px solid #81d7cd; border-radius: 20px; padding: 0.5em; margin-right: 70em; text-align: center; background-color:#c0ebe6;">
  <%= link_to "Editar autor", edit_autor_path(@autor) %> |
  <%= link_to "Voltar para autores", autors_path %>

  <%= button_to "Excluir autor", @autor, method: :delete %>
</div>


    <style>
  a {
    text-decoration: none; 
    font-family: cursive;
  }
</style>