<p style="color: green"><%= notice %></p>

<%= render @genero %>

<div style="border: 2px solid #81d7cd; border-radius: 20px; padding: 0.5em; margin-right: 70em; text-align: center; background-color:#c0ebe6;margin: 0 auto; width: 40%;">
  <%= link_to "Editar gênero", edit_genero_path(@genero) %> |
  <%= link_to "Voltar para gêneros", generos_path %>

  <%= button_to "Excluir gênero", @genero, method: :delete %>
</div>


      <style>
  a {
    text-decoration: none; 
    font-family: cursive;
  }
</style>